body {
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container-top {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: 400px;
}

#display-container {
  height: 100px;
  flex-grow: 1;
}

#display-top {
  height: 20%;
}

#display {
  height: 80%;
}

#display,
#display-top {
  flex-grow: 1;
}

.buttons {
  display: flex;
  justify-content: center;
}

.buttons button {
  font-size: 32px;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 0;
}

footer img {
  height: 20px;
}

footer {
  text-align: end;
}
