body {
  margin: 0;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#container-top {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 20px;
}

footer {
  text-align: end;
}
