@font-face {
  font-family: "Digital Italic";
  src: url("./fonts/digital-7-italic.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: DarkSlateBlue;
}

#container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

#container-top {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

#calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#calculator {
  height: auto;
  width: 255px;
  padding: 5px;
  background-color: SteelBlue;
  border-radius: 5px;
}

#display-container {
  height: 100px;
  padding: 5px;
  flex-grow: 1;
}

#display-top {
  height: 40%;
  font-size: 24px;
}

#display {
  height: 60%;
  font-size: 36px;
}

#display,
#display-top {
  font-family: "Digital Italic", sans-serif;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 1;
  padding: 8px;
  background-color: WhiteSmoke;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  font-size: 32px;
  height: 50px;
  width: 50px;
  margin: 5px;
  border-radius: 0;
  background-color: white;
}

.yellow {
  background-color: gold;
}

.red {
  background-color: Crimson;
}

footer img {
  height: 15px;
}

footer {
  text-align: end;
}

a,
a:visited {
  font-family: "Digital Italic", sans-serif;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}
